<!DOCTYPE html>
<html>
<body>
    <form action="/data" method = "POST">
        <p> Reciever Email <input type = "text" name = "Reciever_email" /></p>
        <p> Sender Email <input type = "text" name = "Sender_email" /></p>
        <!-- <p> Input sender email password <input type="text" name="password" /></p> -->
        <p> Link of Product <input type = "text" name = "link" /></p>
        <p>Your Target price <input type = "number" name = "price" /></p>
        <p><input type = "submit" value = "Submit" /></p>
    </form>

</body>
</html>

